---
---
<header class="site-header">
  <div class="container header-inner">
    <a href="/" class="wordmark">Gwinnett.cc</a>
    <nav class="site-nav">
      <slot name="nav">
        <a href="#resources">Resources</a>
        <a href="#contact">Contact</a>
      </slot>
    </nav>
  </div>
</header>
